{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success')%}
        <div class="alert alert-success">
            <p class="text-sm-center">{{ message }}</p>
        </div>
    {% endfor %}
    {% for message in app.flashes('error')%}
        <div class="alert alert-danger">
            <p class="text-sm-center">{{ message }}</p>
        </div>
        <br>
    {% endfor %}<br>
    {% if is_granted('ROLE_USER') %}
        <div class="border-right border-danger" >
            <p class="m-4">Account Balance : {{user[0].balance}} €</p>
        </div>
    {% endif %}
    <div class="container">
        {% if is_granted('IS_ANONYMOUS') %}
            <div class="modal-background align-self-center concept-section">
                <div class="text-md-center modal-background">
                    <h3>Create Your Own Account</h3><br>
                    <p class="text fa-s15x">Sicher Sie sich ein Account bei uns</p>
                    <p class="text fa-s15x">Keine Kosten UND 100 € GESCHENKT</p>
                    <form method="post" action="{{ path('depo.create') }}">
                        <input class="button btn-danger btn-group-lg"
                               type="submit" name="btn-register" value="Register">
                    </form>
                </div><br>
                <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
            </div>
        {% endif %}
        <br>
        <div class="">
            <h1>Beste Transfer zwischen Freunde. Konzept 1 A</h1><br>
            <p class="fa-2x"> Krieg 100€ GESCHENKT und mach was du willst. Du kannst sogar dein Account überziehen und ein Depo anlegen</p>
            <form method="post" action="{{ path('register') }}">
                <input class="button btn-danger btn-group-lg"
                       type="submit" name="btn-Depo" value="Start Depo">
            </form>
        </div>
        <div class="table">

        </div>
    </div>


{% endblock %}
